.landing{
    display: flex;
    flex-direction: column;
}
.landing-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0px 40px;
}
.landing-nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}
.landing-nav-logo  p {     
    font-size: larger;
    font-weight: bold;
    color: white;
}
.landing-nav-btns{
    display: flex;
}
.landing-action-btns{
    display: flex;
}
.landing-info{
    display: flex;
    align-items: center;
}
.info{
    color: white;
    flex: 1;
    height: 80vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 100px;
}
.points{
    display: flex;
    align-items: center;
}
.points > p{
    margin-left: 50px;
}

.dash img{
    /* background-color: #4d4f55;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #b3f604;
    padding: 10px 0px 10px 0px;
    flex: 1;
    display: flex;
    align-items: center;
    width: 700px;*/
    margin-right: 20px;
    width: 700px;
}