.landing{
    display: flex;
    flex-direction: column;
}
.landing-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0px 40px;
}
.landing-nav-logo{
    display: flex;
    align-items: center;
}
.landing-nav-logo > span {
    font-size: larger;
    font-weight: bold;
    color: white;;
}
.landing-nav-btns{
    display: flex;
}
.landing-action-btns{
    display: flex;
}
.landing-info{
    display: flex;
}
.info{
    color: white;
    flex: 1;
    height: 80vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-left: 100px;
}
.points{
    display: flex;
    align-items: center;
}
.points > p{
    margin-left: 50px;
}
.login{
    flex: 1;
}