.navbar{
    /* position: absolute; */
    background-color: #4d4f55;
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.navbar span{
    display: none;
}
.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-logo > span {
    font-size: larger;
    font-weight: bold;
    color: white;;
}

.action-btns{
    display: flex;
}
.toggle-navbar span{
    display: block;
}