*{
    --txt-color: #73bce4;
    --outline-color:#9DA3AE;
}
*:focus{
    outline: auto;
}
.sign-in{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 400px;
    background-color: #232734;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.styled-input{
    position: relative;
    width: 100%;
}
.styled-input > p,.styled-input > input:invalid ~ p{
    display: none;
    position: absolute;
    background-color: #232734;
    font-size: small;
    color: var(--txt-color);
    padding: 0px 5px;
    top:-14px;
    left:10px;
}
.input::placeholder{
    font-size: medium;
    color: var(--outline-color);}
.input:focus::placeholder{
    color: transparent;
}
.styled-input > input:valid ~ p,.styled-input > input:focus ~ p{    
    display: block;
}

.form > h2{
    color: white;
    font-weight: normal;
    margin: 10px;
}
.form > p {
    margin: 10px;
    color: var(--txt-color);
}
.input{
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    background-color: transparent;
    border: 1px solid var(--outline-color);
    font-size: large;
    color: white;
}
.linkedin{
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.linkedin:hover{
    background-color: #4d4f55;
    cursor: pointer;
}
.linkedin > span {
    font-size: large;
    /* font-weight: bold; */
    color: white;
}
.in-logo{
    width: 25px;
    height: 25px;
    background-color: #3B77B5;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-account{
    margin-top: 20px;
    position: relative;   
    width: 100%; 
}
.line{   
    border-bottom: 1px solid var(--outline-color);
}
.or{
    position: absolute;
    color: var(--txt-color);
    font-size: smaller;
    background-color: #232734;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    top: -10px;
    left:50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
.no-account + span{
    margin-top: 20px;
    color:white;
}
.link{
    color: var(--txt-color);
    text-decoration: none ;
}
.error{
    color: red;
    align-self: flex-start;
    margin: 0px 0px 10px 0px;
}
.success{
    color: greenyellow;
}